.live-new-pairs{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: auto;
  height: 90vh;
}

.container{
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.753);
  width: 100%;
}

@media(max-width:994px){
  .container.text-center{
    position: relative;
    overflow:auto;
    min-width: 200vw;
    margin-left: 100%;
  }
}

@media(max-width:360px){
  .container.text-center{
    position: relative;
    overflow:auto;
    min-width: 300vw;
    margin-left: 200%;
  }
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
  padding: 10px;
  border-bottom: 3px solid rgba(141, 141, 141, 0.425);
}
