<section class="live-new-pairs">
  <div class="container text-center">
    <div class="row">
      <div class="col-1">
        <p class="fw-bold">Age        <i class="bi bi-caret-down-fill"></i></p>
      </div>
      <div class="col-3">
        <p class="fw-bold">Token        <i class="bi bi-caret-up-fill"></i></p>
      </div>
      <div class="col-2">
        <p class="fw-bold">Price        <i class="bi bi-caret-up-fill"></i></p>
      </div>
      <div class="col-1">
        <p class="fw-bold">1h %           <i class="bi bi-caret-down-fill"></i></p>
      </div>
      <div class="col-1">
        <p class="fw-bold">6h %             <i class="bi bi-caret-down-fill"></i></p>
      </div>
      <div class="col-1">
        <p class="fw-bold">24h %             <i class="bi bi-caret-down-fill"></i></p>
      </div>
      <div class="col-1">
        <p class="fw-bold">Liquidity               <i class="bi bi-caret-down-fill"></i></p>
      </div>
      <div class="col-1">
        <p class="fw-bold">Volume (24h)<i class="bi bi-caret-up-fill"></i></p>
      </div>
      <div class="col-1">
        <p class="fw-bold">FDV        <i class="bi bi-caret-up-fill"></i></p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <span>10min ago</span>
      </div>
      <div class="col-3">
        <span>SHINNOSURE / WETH Shinnosuke Inu</span>
      </div>
      <div class="col-2">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <span>10min ago</span>
      </div>
      <div class="col-3">
        <span>SHINNOSURE / WETH Shinnosuke Inu</span>
      </div>
      <div class="col-2">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <span>10min ago</span>
      </div>
      <div class="col-3">
        <span>SHINNOSURE / WETH Shinnosuke Inu</span>
      </div>
      <div class="col-2">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <span>10min ago</span>
      </div>
      <div class="col-3">
        <span>SHINNOSURE / WETH Shinnosuke Inu</span>
      </div>
      <div class="col-2">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <span>10min ago</span>
      </div>
      <div class="col-3">
        <span>SHINNOSURE / WETH Shinnosuke Inu</span>
      </div>
      <div class="col-2">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <span>10min ago</span>
      </div>
      <div class="col-3">
        <span>SHINNOSURE / WETH Shinnosuke Inu</span>
      </div>
      <div class="col-2">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <span>10min ago</span>
      </div>
      <div class="col-3">
        <span>SHINNOSURE / WETH Shinnosuke Inu</span>
      </div>
      <div class="col-2">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
      <div class="col-1">
        Column
      </div>
    </div>
  </div>
</section>
