<section class="wallet-route">
  <div class="content-wrapper">
    <div class="main-container">
      <!---->
      <!---->
      <!---->
      <div class="wallet">
        <div class="title-wrapper">
        </div>
        <div class="hero-wrapper">
          <img _ngcontent-int-c8="" src="https://avatars.dicebear.com/api/identicon/0xDb7cA7384d0019514a609a606e7BEE73af4751eB.svg">
        </div>
        <div class="second-hero-wrapper">
          <div class="wallet-text">
            <div class="wallet-name-wrapper">
              <h3 class="wallet-name" style="cursor: pointer;" title="Edit Wallet Name" data-bs-toggle="modal" data-bs-target="#staticBackdrop">0xDb7cA...f4751eB <i class="bi bi-pencil-square" style="cursor: pointer;" title="Edit Wallet Name" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></h3>
              <div class="email">
                <p>0xDb7cA...f4751eB</p>
                <button class="copy" title="Copy">
                    <i class="bi bi-files"></i>
                </button>
              </div>
              <div class="flex">
                <div class="follow">0 Following</div>
                <div class="follow">0 Followers</div>
              </div>
            </div>
          </div>
          <div class="net-worth">
            <div>
              <h4 class="net-title">Balance</h4>
              <h3 class="net-cash">USD $50,350.90</h3>
            </div>
            <div class="sync" title="Synced">
              <div class="green-circle"></div>
              <h6>SYNCED</h6>
              <i class="bi bi-arrow-repeat"></i>
            </div>
          </div>
        </div>
        <div class="navbar">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">NFTs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Activity</a>
            </li>
          </ul>
        </div>
        <div class="button-wrapper">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="modal" data-bs-target="#exampleModal">
            USD
          </button>
        </div>
        <div class="container text-center">
          <div class="row top">
            <div class="col">
              text1
            </div>
            <div class="col">
              text2
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
          </div>
          <div class="row">
            <div class="col">
              text1
            </div>
            <div class="col">
              text2
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
          </div>
          <div class="row">
            <div class="col">
              text1
            </div>
            <div class="col">
              text2
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
          </div>
          <div class="row">
            <div class="col">
              text1
            </div>
            <div class="col">
              text2
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
          </div>
          <div class="row">
            <div class="col">
              text1
            </div>
            <div class="col">
              text2
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
          </div>
          <div class="row bottom">
            <div class="col">
              text1
            </div>
            <div class="col">
              text2
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
            <div class="col">
              text3
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--MODAL SELECT MONEY -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Select Currency</h1>
          <div class="close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></div>
        </div>
        <div class="modal-body money">
          <!-- Options Part 1-->
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
              <label class="form-check-label" for="firstRadio">USD</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
              <label class="form-check-label" for="secondRadio">BRL</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">EUR</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">CAD</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">AUD</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">MXN</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">Third radio</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">Third radio</label>
            </li>
          </ul>
          <!-- Options Part 2-->
          <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
              <label class="form-check-label" for="firstRadio">USD</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
              <label class="form-check-label" for="secondRadio">BRL</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">EUR</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">CAD</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">AUD</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">MXN</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">Third radio</label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
              <label class="form-check-label" for="thirdRadio">Third radio</label>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal EDIT NAME WALLET -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit your wallet name</h1>
        <div class="close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></div>
      </div>
      <div class="modal-body">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Edit here" aria-label="Search">
          <button class="btn btn-primary" type="submit" title="Edit"><i class="bi bi-pencil"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
      <!-- Final Modal -->
