<section class="ai-editor">
  <div class="content-wrapper">
    <div class="audit-wrapper">
      <h1>AI Auditor and Contract Analysis</h1>
      <div class="robot-wrapper">
        <img class="robot" src="assets/img/bg.gif">
      </div>
      <div class="cod-wrapper">
        <div class="textarea-wrapper">
          <div class="action-wrapper">
            <div class="paste-text">Paste your code below.</div>
            <div class="action"><button type="button" class="btn btn-primary"><i class="bi bi-trash3-fill"></i></button></div>
          </div>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="text ///"></textarea>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button">Audit</button>
        </div>
      </div>
    </div>
  </div>
</section>
