* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  background-color: #10121c;
  color: white;
  overflow: hidden !important;
  background: url('src/assets/img/bluebg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
